<div class="card-flex">
  <div class="grid">
    <div
      style="
        width: auto;
        background-color: rgba(255, 252, 80, 0.359);
        padding: 1rem;
        border-radius: 1rem;
      "
    >
      <h2>Your Progress</h2>
      <div class="grid">
        <div>
          <h1 style="font-size: 3rem">Great,😊</h1>
          <h2>Your avarage score is <span style="color: rgb(181, 181, 17);font-size: 6rem;text-shadow: rgb(65, 63, 0) 4px 4px 4px;">80%</span></h2>
        </div>
        <!-- <div>
                    good in js
                    avg score: 85%
                </div> -->
      </div>
    </div>
    <div
      style="
        width: auto;
        background-color: rgba(0, 0, 0, 0.6);
        border-radius: 1rem;
        padding: 1rem;
      "
    >
      <h2 style="color: yellow;text-shadow: 2px 2xp #000;">Your Activity</h2>
      <ul class="activity-list" style="padding-inline: 0.5rem;">
        <li
          style="
            background-color: aliceblue;
            padding: 0.4rem;
            border-radius: 4px;
            margin-bottom: 2px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
          "
        >
          SQL <span>80%</span>
        </li>
        <li
          style="
            background-color: aliceblue;
            padding: 0.4rem;
            border-radius: 4px;
            margin-bottom: 2px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
          "
        >
        Linux <span>77%</span>
        </li>
        <li
          style="
            background-color: aliceblue;
            padding: 0.4rem;
            border-radius: 4px;
            margin-bottom: 2px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
          "
        >
        DevOps <span>66%</span>
        </li>
        <li
          style="
            background-color: aliceblue;
            padding: 0.4rem;
            border-radius: 4px;
            margin-bottom: 2px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
          "
        >
        React <span>92%</span>
        </li>
      </ul>
    </div>
  </div>
</div>
